<div class= "container">
    <div id = "question">
    <p><%= @question %></p>
    <p>- You</p>
    </div>

    <div id = "answer">
    <p><%= @answer %></p>
    <p>-Your Coach</p>
    </div>

    <div>
    <%= link_to "Ask a new question", ask_path %>
    </div>
    
</div>

