
<div class="container">
    <form action="/answer" method="get" id="form">
    <input type="text" name="question" placeholder="Ask your coach a question.">
    <input type="submit" value="Ask!" id="btn">
    </form>
</div>

